* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #282c35; /* Dark background color */
  color: #ffffff; /* Text color */
}

.middle {
  background-color: #1a1d24;
  border-radius: 10px;
  position: fixed;
  top: 45%;
  left: 50%;
  padding: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 400px;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #363b47; /* Container background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  position: relative;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}


header h1 {
  color: #61dafb;
  font-size: 2em;
}

label {
  display: block;
  margin: 15px auto;
  text-align: center;
  color: #ffffff; 
}

#websiteInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background-color: #454b5b; /* Input background color */
  color: #ffffff; /* Input text color */
  border: 1px solid #61dafb; /* Input border color */
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #61dafb; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4fa3d1; /* Button hover color */
}

.loading-spinner {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lds-ring {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  position: fixed;
}


.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #989696; /* Paragraph text color */
}

p {
  padding: 10px;
}