* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #282c35; /* Dark background color */
  color: #ffffff; /* Text color */
}

.middle {
  position: ;
  top: 0%;
  left: 0%;
  
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #363b47; /* Container background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  position: relative;
}

h1 {
  text-align: center;
  color: #61dafb; /* Header text color */
}

label {
  display: block;
  margin: 15px auto;
  text-align: center;
  color: #ffffff; /* Label text color */
}

#websiteInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  background-color: #454b5b; /* Input background color */
  color: #ffffff; /* Input text color */
  border: 1px solid #61dafb; /* Input border color */
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #61dafb; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4fa3d1; /* Button hover color */
}

.loading-spinner {
  text-align: center;
  margin-top: 20px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #61dafb; /* Spinner color */
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #61dafb transparent transparent transparent;
}

@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }

  25% {
      transform: rotate(180deg);
  }

  50% {
      transform: rotate(360deg);
  }

  75% {
      transform: rotate(540deg);
  }

  100% {
      transform: rotate(720deg);
  }
}

p {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff; /* Paragraph text color */
}
